<!DOCTYPE html>
<html>
<head>
</head>
<body>
<br>  Name : Utphala Puttananjammagari <br> ID: 1001246180 <br> class section : 6:00 <br>
<H1> <CENTER> Web service to upload notes using Azure </CENTER> </H1>

<br>
{% if timeTaken %}
<H4> Time: </H4>
<p> Time taken - Web Service {{timeTaken}} seconds</p>
{% endif %}
{% if dbTime %}
<p> Time taken - Database {{dbTime}} seconds</p>
{% endif %}

<p> Note: New user should Register first </p>
	<form action="login" method="POST">
	Login: <br>
	<input type="text" placeholder='username' name="user_name" required> <br>
	<input type="password" placeholder='password' name="password" required> <br>
	<input type="submit" value="Login">
</form>
<br>
<form action="/register" method="POST" >
                Signup:<br>
               <input type="text" placeholder='username' name="user_name" required><br>
               <input type="password" placeholder='password' name="password" required><br>
               <input type="submit" value="Register">
</form>
</body>
</html>
