<head>
	<title>Python Starter Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--<link rel="stylesheet" href="stylesheets/style.css" />-->
</head>
<body>
<h1><center>Welcome to ImageUploader App</center></h1>
	<form action="{{url_for('login')}}" method="post">
	<table>
	<tr><td>Username:</td><td><input type="text" name="user"/></td></tr>
	<tr><td>Password:</td><td><input type="password" name="pass"/></td></tr>
	<tr><td></td><td><button name="submit "value= "Submit">Submit</button></td></tr>
	</table>
	</form> 

</body>
</html>